* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #cecece;
    font: {
        family: sans-serif;
        size: 20px;
    }
    color: black;
}

.main-container {
    max-width: 1000px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 20px 40px;
    background-color: antiquewhite;
    display: flex;
    flex-flow: column;
    gap: 20px;
    justify-content: center;

    .textarea {
        width: 70%;
        margin: 0 auto;
        padding: 5px;
        font: inherit;
        resize: none;
        outline: 0;
    }

    .keyboard {
        display: flex;
        width: 40px * 15 + 7px * 14;
        gap: 7px;
        flex-wrap: wrap;

        .key {
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}